/*----------------------------------------------------------------------------
  Body
----------------------------------------------------------------------------*/
body {
    overflow-x: hidden;
}


/*----------------------------------------------------------------------------
  Header Styles
----------------------------------------------------------------------------*/

h2 {
    font-size: 29px;
    color: slategray;
    margin: 10px auto;
}


/*----------------------------------------------------------------------------
  Headings
----------------------------------------------------------------------------*/

h3 {
    background: slategray;
    color: white;
    font-size: 26px;
	font-variant: small-caps;
	margin: 80px auto 40px;
    opacity: 0.8;
    padding: 4px;
}

/*----------------------------------------------------------------------------
  HTML
----------------------------------------------------------------------------*/



/*----------------------------------------------------------------------------
  FORM ELEMENTS
----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------
  Image
----------------------------------------------------------------------------*/



/*----------------------------------------------------------------------------
  Paragraph
----------------------------------------------------------------------------*/
p {
    font-family: Arial, Sans-serif;
    font-size: 18px;
    margin: 30px 20px;
}
