

@keyframes twitch {
      0% {transform: rotate(0deg) translate(-50%,-50%);}
      20% {transform: rotate(-15deg) translate(-50%,-50%);}
      40% {transform: rotate(15deg) translate(-50%,-50%);}
      60% {transform: rotate(-15deg) translate(-50%,-50%);}
      80% {transform: rotate(15deg) translate(-50%,-50%);}
      100% {transform: rotate(0deg) translate(-50%,-50%);}
}




/*----------------------------------------------------------------------------
  Body
----------------------------------------------------------------------------*/
body {
    overflow-x: hidden;
    padding-bottom: 20px;
}


/*----------------------------------------------------------------------------
  Header Styles
----------------------------------------------------------------------------*/

h1 {
    color: slategray;
    display: inline-block;
    font-size: 65px;
    line-height: 5.5rem;
    margin-top: 10px;
    position: relative;

    &:after {
        background: url("/img/MustachePro.png") no-repeat center center;
        background-size: contain;
        content: "";
        position: absolute;
        left: 50%;
        height: 80px;
        width: 120px;
        top: 50%;
        transform: translate(-50%,-50%);

    }

    &:hover:after {
        animation-name: twitch;
        animation-duration: 1.25s;
        animation-fill-mode: none;
        transform-origin: 0 0;
    }
    &:hover {
        cursor: pointer;
    }

}


h2 {
    font-size: 26px;
    color: slategray;
    margin: 10px auto;
}


/*----------------------------------------------------------------------------
  Headings
----------------------------------------------------------------------------*/

h3 {
    color: slategray;
    font-size: 26px;
	font-variant: small-caps;
	margin: 15px auto;
}

/*----------------------------------------------------------------------------
  HTML
----------------------------------------------------------------------------*/



/*----------------------------------------------------------------------------
  FORM ELEMENTS
----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------
  Image
----------------------------------------------------------------------------*/



/*----------------------------------------------------------------------------
  Paragraph
----------------------------------------------------------------------------*/
p {
    font-family: Arial, Sans-serif;
    font-size: 18px;
    margin: 30px 20px;
}
